---
const {
    imageOn,
    textAndImageHeading,
    textAndImageBodyText,
    textAndImageCallToActionLinkText,
    textAndImageCallToActionLinkIsExternal,
    textAndImageCallToActionLinkUrl
} = Astro.props;

const imageOnClass = imageOn ? `b-text-and-image__inner-content--is-image-${imageOn}` : '';
---
<div class="b-text-and-image">
    <div class="b-text-and-image__container">
      <div class="b-text-and-image__content">
        <div class="b-text-and-image__inner">
          <div class={`b-text-and-image__inner-content ${imageOnClass}`}>
            <div class="b-text-and-image__image-item">
              <img src="/public/profile-pic-black-white.jpg" alt="Couple smiling and laughing">
            </div>
            <div class="b-text-and-image__text-item">
              <h3 class="b-text-and-image__heading">{textAndImageHeading}</h3>
              <div class="b-text-and-image__body-text">{textAndImageBodyText.map(paragraph => (
                <p>{paragraph}</p>
              ))}</div>
              <a
              {...(textAndImageCallToActionLinkIsExternal ? { target: "_blank", rel: "noopener noreferrer" } : {})}
                class="b-text-and-image__call-to-action-link"
                href={textAndImageCallToActionLinkUrl}>{textAndImageCallToActionLinkText}</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
