---
import PhotographyImage from "./PhotographyImage.astro";
import MightyImage from "./MightyImage.astro";

const {
    imageOn,
    textAndImageHeading,
    textAndImageBodyText,
    textAndImageCallToActionLinkText,
    textAndImageCallToActionLinkIsExternal,
    textAndImageCallToActionLinkUrl,
    textAndImageCallToActionLinkTextTwo,
    textAndImageCallToActionLinkIsExternalTwo,
    textAndImageCallToActionLinkUrlTwo
} = Astro.props;

const imageOnClass = imageOn ? `b-text-and-image__inner-content--is-image-${imageOn}` : '';
---

<div class="b-text-and-image">
    <div class="b-text-and-image__container">
      <div class="b-text-and-image__content">
        <div class="b-text-and-image__inner">
          <div class={`b-text-and-image__inner-content ${imageOnClass}`}>
            <div class="b-text-and-image__image-item">
              {textAndImageHeading === "Photography" ? <PhotographyImage /> : <MightyImage />}
            </div>
            <div class="b-text-and-image__text-item">
              <h3 class="b-text-and-image__heading">{textAndImageHeading}</h3>
              <div class="b-text-and-image__body-text">{textAndImageBodyText.map(paragraph => (
                <p>{paragraph}</p>
              ))}</div>
              <div class="b-text-and-image__call-to-action-button-content">
                <a
                {...(textAndImageCallToActionLinkIsExternal ? { target: "_blank", rel: "noopener noreferrer" } : {})}
                  class="b-text-and-image__call-to-action-link"
                  href={textAndImageCallToActionLinkUrl}>{textAndImageCallToActionLinkText}</a>
                { textAndImageCallToActionLinkUrlTwo &&
                  <a
                  {...(textAndImageCallToActionLinkIsExternalTwo ? { target: "_blank", rel: "noopener noreferrer" } : {})}
                    class="b-text-and-image__call-to-action-link"
                    href={textAndImageCallToActionLinkUrlTwo}>{textAndImageCallToActionLinkTextTwo}</a>
                }
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
